<div class="header-container">
    <h1 class="header-logo" style="font-family: 'Pacifico', cursive;">Courier</h1>
    <div class="header-search-container">
        <h2><i class="fa-solid fa-magnifying-glass"></i></h2>
        <input type="search" name="search-bar" class="header-search-bar" placeholder="Search in...">
    </div>
    <div class="header-links">
        <a href="/" class="header-login-url">Log in</a>
        <a href="/" class="header-signup-url">Sign up</a>
    </div>
</div>